body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #424242;
    /* background-color: slategray; */
    margin: 0em;
    padding: 0em;
}

#content {
    padding: .5em 1em 1em 1em;
    background-color: white;
}

header {
    margin-bottom: 0em;
    display: flex;
    /* background-color: slategrey; */
    margin: 0em;
    padding: .5em;
}

footer {
    text-align: center;
    color: white;
    /* background-color: slategray; */
    height: 2em;
    line-height: 2em;
}

table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

.nav-left {
    margin-right: auto;
    display: inline;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,

.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}

.b {
    margin-left: 1em;
}

.button-group {
    width: 100%;
}

#logo {
    font-size: 2em;
    color: white;
    text-decoration: none;
}

tr:hover {
    background-color: #f5f5f5;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.active {
    /* background-color: blue; */
}

h3 {
    margin: .5em 0px .5em;
}

a {
    color: white;
    text-decoration: none;
}
