{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>

    <title>{% block title %}UNH-Internship-Portal{% endblock title %}</title>

    {% block css %}

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-dark">


        <li class="nav-item active">

        <div class="logo" style="width: 1100px;">

          <h3> <a class="nav-link text-light"> UNH-Internship </a><h3>

          <!-- <img src="https://paulcollege.unh.edu/cep/sites/paulcollege.unh.edu.cep/themes/cep/logo.png"> -->

       </div>

       <li class="nav-item active">

         <h3><a class="nav-link text-light" href="{% url 'display_students' %}" role="button"> Student </a><h3>

       </li>
       <li class="nav-item active">

         <h3><a class="nav-link text-light" href="{% url 'display_internship' %}" role="button"> Internship </a><h3>

       </li>

       <li class="nav-item active">

         <h3><a class="nav-link text-light" href="{% url 'display_internshipassignment' %}" role="button"> Internship Assignment</a><h3>

       </li>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <li class="nav-item active">

              <h3><a class="nav-link nav text-light"


                href="{% url 'import_file' %}">&nbsp;  &nbsp;  &nbsp;
                Import <span class="sr-only">(current)</span></a></h3>
            </li>

            <li class="nav-item active" >
              <h3><a class="nav-link text-light" href="{% url 'home' %}">Sign up</a></h3>
            </li>

            <div >

            <li class="nav-item active">
              <h3><a class="nav-link text-light" href="{% url 'home' %}">Sign out</a></h3>
            </li>

           </div>
        </div>
      </nav>

    </div>

    <div class="container">


      {% block content %}


      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Bootstrap JS and its dependencies-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->


      <!-- place project specific Javascript in this file -->

    {% endblock javascript %}
  </body>
</html>
