{% load static %}
<!doctype html>
<html>
<head>
    <title class="bg_black" > UNHM Internship Portal</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <header>
    <div class="row pt-2 pb-2">
      <div class="col-9">
        <div class="logo">
        <img src="https://paulcollege.unh.edu/cep/sites/paulcollege.unh.edu.cep/themes/cep/logo.png">
        </div>
      </div>
      <div class="=col-3 pt-3">
        <a class="btn btn-outline-primary" href="login.html">Log In</a>
      </div>
    </div>
<div class="row">
  <div class="col-12 title pt-1">
      <p class="h3">UNHM Internship Portal</p>
  </div>
  </div>

  </header>
    {% block content %}
    {% endblock content %}
             <!-- Content here -->
    </div>
</body>
</html>
