{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<script src="/static/sorttable.js"></script>
<form method="post" action="">
{% csrf_token %}
{{form|crispy}}
<input class="btn btn-primary" type="submit" value="Search" />
</form>

<br/>
<h2><a class="btn btn-sm btn-info" href="{% url 'create_internship'%}">Add New Record</a></h2>
</br>
<table id="example" class="sortable"  cellspacing="30">
<thead>
<tr>
<th>Internship id</th>
<th>position</th>
<th>pay</th>
<th>organization_name</th>
<th>organization_url</th>
<th>organization_address</th>
<th>supervisor_name</th>
<th>supervisor_position</th>
<th>supervisor_email</th>
<th>supervisor_phone</th>
<th></th>
<th></th>
</tr>
</thead>


<tbody>
{% for internship_item in internship_items %}
<tr class="item">
<td>{{internship_item.internship_id}}</td>
<td>{{internship_item.position}}</td>
<td>{{internship_item.pay}}</td>
<td>{{internship_item.organization_name}}</td>
<td>{{internship_item.organization_url}}</td>
<td>{{internship_item.organization_address}}</td>
<td>{{internship_item.supervisor_name}}</td>
<td>{{internship_item.supervisor_position}}</td>
<td>{{internship_item.supervisor_email}}</td>
<td>{{internship_item.supervisor_phone}}</td>

<td><a class="btn btn-sm btn-info" href="{% url 'update_internship' internship_item.pk %}">Update</a></td>
<td><a class="btn btn-sm btn-info" href="{% url 'delete_internship' internship_item.pk %}">Delete</a></td>
</tr>

{% endfor %}
</tbody>

</table>


{% endblock content %}
