{% extends 'base.html' %}
    {% block content %}
        <script src="/static/sorttable.js"></script>
        <table id="example" class="sortable" style="text-align:center;" cellspacing="30">


            {% if button == "students" %}

            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>unh id</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>school_email</th>
                    <th>Major</th>
                    <th>Degree</th>
                    <th>Linkedin</th>
                </tr>
            </thead>
            {% endif %}
            
            <tbody>

                {% for student_item in student_items %}
                <tr class="item">
                    <td>{{student_item.pk}}</td>
                    <td>{{student_item.unh_id}}</td>
                    <td>{{student_item.first_name}}</td>
                    <td>{{student_item.last_name}}</td>
                    <td>{{student_item.school_email}}</td>
                    <td>{{student_item.major}}</td>
                    <td>{{student_item.degree}}</td>
                    <td>{{student_item.linkedin}}</td>

                </tr>

                {% endfor %}


            </tbody>
        </table>
    {% endblock content %}
